nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #333;
  z-index: 1000;
}
nav{
  display: flex;
 justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
}
table{
  margin-left: 20px;
  font-size: 20px;
  width: 20vw;
  height: 60px;
  top: 35px;
}
.nav-lista {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-tipos {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-size: 1.2em;
  transition: color 0.3s;
}
.nav-tipos:hover {
  color: blue;  /* Color de hover */
}

.chiton{
    position: absolute;
  font-size: 30px;
  left: 550px;
  top: 530px;
}
.chitonbelem{
    position: absolute;
  font-size: 30px;
  left: 950px;
  top: 530px;
}
.chito{
    position: absolute;
  font-size: 30px;
  left: 1300px;
  top: 530px;
}
.generos{
  position: absolute;
  font-size: 30px;
  left: 750px;
  top: 1100px;
}
.o{
  position: absolute;
  font-size: 30px;
  left: 1125px;
  top: 1100px;
}
.z{
  position: absolute;
  margin: 30px;
  width: 15vw;
  height: 400px;
  left: 450px;
  top: 105px;
  transition: transform 0.3s ease;
}
.z img:hover{
   transform: scale(1.1);
}
.zoe{
   position: absolute;
   margin: 30px;
   width: 15vw;
   height: 400px;
   left: 630px;
   top: 670px;
}
.she{
   position: absolute;
   margin: 30px;
   width: 15vw;
   height: 400px;
   left: 845px;
   top: 105px;
}
.zero{
   position: absolute;
   margin: 30px;
   width: 15vw;
   height: 400px;
   left: 1190px;
   top: 105px;
}
.m {
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.mangas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; 
    padding: 20px;
    justify-items: center;
