body {
    font-family: Arial, sans-serif;
    background-color: yellow;
    margin: 0;
    padding-top: 60px; 
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}
.nav-lista {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
    margin: 0;
}
.nav-tipos {
    text-decoration: none;
    color: white;
    font-size: -5px;
    font-weight: 1.2em;
    padding: 5px 0px;
}
.nav-tipos:hover {
    color: blue;
    transition: color 0.3s ease;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; 
    padding: 20px;
    justify-items: center;
}
.manga {
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.manga img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.manga p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: bold;
}
.titulo {
  text-align: center; 
    font-size: 30px; 
    color: black; 
    margin-top: 30px; 
    font-weight: bold; 
}